<header class="text-gray-600 m-6 body-font">
  <div class="container mx-auto flex flex-wrap p-4 flex-col md:flex-row items-center shadow-lg rounded-lg">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
      <img src="/app-logo.png" alt="PostLabel Logo" width="64" height="64" />
      <span class="ml-3 text-xl">PostLabel</span>
    </a>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center">
      <a class="md:mr-5 mr-0 hover:text-gray-900 cursor-pointer" href="/print">A4 Printer</a>
    </nav>
    <nav class="inline-flex md:ml-4 md:py-1 md:pl-4 items-center py-1 px-3 focus:outline-none flex-wrap text-base mt-4 md:mt-0 justify-center space-x-4">
      <a class="mx-auto hover:text-gray-900 cursor-pointer" href="/about">About</a>
      <a class="mx-auto hover:text-gray-900 cursor-pointer" href="/legal/tldr">Legal</a>
    </nav>
  </div>
</header>
